{#
  Nunjucks template for generating granule metadata.

  See Nunjucks Templating Documentation:
    https://mozilla.github.io/nunjucks/templating.html
#}

{% set now = nowISOString() %}

Granule:
  GranuleUR: "{{ granule.meta.GranuleUR }}"
  InsertTime: "{{ now }}"
  LastUpdate: "{{ now }}"
  Collection:
    ShortName: "{{ collection.name }}"
    VersionId: "{{ collection.version }}"
  DataGranule:
    SizeMBDataGranule: "{{ granule.meta.SizeMBDataGranule }}"
    ProducerGranuleId: "{{ granule.meta.GranuleUR }}"
    DayNightFlag: "{{ granule.meta.DayNightFlag | upper }}"
    ProductionDateTime: "{{ granule.meta.ProductionDateTime }}"
  Temporal:
    RangeDateTime:
      BeginningDateTime: "{{ granule.meta.BeginningDateTime }}"
      EndingDateTime: "{{ granule.meta.EndingDateTime }}"

  {#
    The MAAP CMR ECHO-10 XML Schema expects the bounding rectangle's coordinates
    to be specifically in the order West, North, East, South, so we must
    explicitly produce them in the expected order because it is possible that
    the object constituted from the query from the Operational CMR does not
    yield them in the expected order.
  #}
  Spatial:
    HorizontalSpatialDomain:
      Geometry:
        BoundingRectangle:
          WestBoundingCoordinate: "{{ granule.meta.WestBoundingCoordinate }}"
          NorthBoundingCoordinate: "{{ granule.meta.NorthBoundingCoordinate }}"
          EastBoundingCoordinate: "{{ granule.meta.EastBoundingCoordinate }}"
          SouthBoundingCoordinate: "{{ granule.meta.SouthBoundingCoordinate }}"

  AdditionalAttributes: !echo10/attributes
    Tree Height Measurement Status: {{ granule.meta.TreeHeightMeasurementStatus }}
    Breast Height Measurement Status: {{ granule.meta.BreastHeightMeasurementStatus }}
    Breast Height: {{ granule.meta.BreastHeight }}
    Minimum Diameter Measured: {{ granule.meta.MinimumDiameterMeasured }}
    Stem Mapped Status: {{ granule.meta.StemMappedStatus }}
    Breast Height Modeled Status: {{ granule.meta.BreastHeightModeledStatus }}
    Dataset Status: {{ granule.meta.DatasetStatus }}
    Data Format: "{{ granule.meta.DataFormat }}"
    Geolocated: {{ granule.meta.Geolocated }}
    Acquisition Type: "{{ granule.meta.AcquisitionType }}"
    MODIS PFT: "{{ granule.meta.PFTMODIS }}"
    WWF Ecoregion: "{{ granule.meta.WWFEcoregion }}"
    Spatial Resolution: {{ granule.meta.SpatialResolution }}
    Number of Plots: {{ granule.meta.NumberOfPlots }}
    Plot Area: {{ granule.meta.PlotArea }}
    Subplot Size: {{ granule.meta.SubplotSize }}

  OnlineAccessURLs:
    OnlineAccessURL:
      - URL: "{{ granule.files[0].filename }}"
        URLDescription: "File to download"

  OnlineResources: []
  Orderable: "true"
  DataFormat: "{{ granule.meta.DataFormat }}"
  Visible: "true"
